<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if result!=None %}
          <p class="u-align-center u-text u-text-custom-color-5 u-text-default u-text-2">Crop Production Prediction :{{result}}<span style="font-weight: 700;"></span>
          </p>
{% else %}
          <p class="u-align-center u-text u-text-custom-color-5 u-text-default u-text-2">{{result}}<span style="font-weight: 700;"></span>
          </p>
{% endif %}
</body>
</html>